{% load static %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>AdminLogin</title>

<link href="{% static 'assets/css/loginbox.css' %}" rel="stylesheet"  />
  
<body>    
    <h1>Admin Login</h1><br>   
    {% block content %} 
    <div class="login">    
    <form method="POST" >  
    {% csrf_token %}  
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text"  name="username" id="username" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="password" id="password" placeholder="Password">    
        <br><br>    
        
     
        <button><a href = "{% url 'appdev:accountdashboard_view' %}"  type="submit">Log In</a></button> 
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
        <a href="#"> Forgot Password</a>    
    </form>     
</div> 
{% endblock content %}   
</body>    
</html>     
