{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'assets\css\style2.css' %}">

</head>
<body>
    <!-- <td background="{{ STATIC_URL }}assets\img\bg.jpg" no-repeat;>  -->
    <!-- <div style="background-image: url('\assets\img\bg.jpg');"> -->

	<input type="checkbox" id="checkbox">
	<header class="header">
		<h2 class="u-name">TECHNO <b>BIGAY</b>
			<label for="checkbox">
				<i id="navbtn" class="fa fa-bars" aria-hidden="true"></i>
			</label>
		</h2>
		<i class="fa fa-user" aria-hidden="true"></i>
	</header>
	<div class="body">
		<nav class="side-bar">
			<div class="user-p">
				<img src="{% static 'assets\img\team\Yap.png' %}">
				<h4>USER NAME</h4>
			</div>
            <ul>
				<li>
                    <a href="{% url 'appdev:clienthome_view' %}">
						<i class="fa fa-home" aria-hidden="true"></i>
						<span>HOME</span>
					</a>
				</li>
                <li class="active">
                    <a href="{% url 'appdev:clientdashboard_view' %}">
						<i class="fa fa-dashboard " aria-hidden="true"></i>
						<span>Dashboard</span>
					</a>
				</li>
                <li>
                    <a href="{% url 'appdev:clientgrades_view' %}">
						<i class="fa fa-list-alt" aria-hidden="true"></i>
						<span>Grades</span>
					</a>
				</li>

                <li>
                    <a href="{% url 'appdev:clientvouchers_view' %}">
						<i class="fa fa-money " aria-hidden="true"></i>
						<span>Vouchers</span>
					</a>
				</li>

				<li>
                    <a href="{% url 'appdev:contact_view' %}">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
						<span>Email</span>
					</a>
				</li>
			
				<li>
                    <a href="{% url 'appdev:team_view' %}">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
						<span>About</span>
					</a>
				</li>
			
				<li>
				    <a href="{% url 'appdev:members_view' %}">
						<i class="fa fa-power-off" aria-hidden="true"></i>
						<span>Logout</span>
					</a>
				</li>
			</ul>
		</nav>

        {% block content %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
       
          </th>
          <th>ID Number</th> 
          <th>First Name</th> 
          <th>Last Name</th> 
          <th>Email</th> 
          <th>Address</th>
          <th>Age</th>
          <th>Birthdate</th>
          <th>Username</th>
          <th>Password</th>
          <th>Action</th> 
        </tr>
      </thead>
      
            {% for accountuser in accountuser %}
            
                      
                {{accountuser.uid}}
                {{accountuser.first_name}}
                {{accountuser.last_name}}
                {{accountuser.email}}
                {{accountuser.address}}
                {{accountuser.age}}
                {{accountuser.birthdate}}
                 {{accountuser.username}}
                 {{accountuser.password}}
                
           
             {% endfor %}   
                          
          
                   
          
          </div>
          </div>
      </div>
     
      {% endblock content %}


</body>
</html>