{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Payment Checkout Form</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
	<link rel="stylesheet" href="{% static 'assets\css\styles.css' %}">

</head>
<body>
	

    {% block content %} 
<div class="wrapper">
  <div class="payment">
    <div class="payment-logo">
      <p>TB</p>
    </div>
    
    
    <h2>Donation Gateway</h2>
  
   

	
	<hr/>
	<form method="POST">
		{% csrf_token %}

		<div class="container">
			<div class="header">
		<form>
 			<span>
				<div class="forms">
				<i class="fa fa-user"></i>
	 <input type="text" class="input" id="id-Name" name="name" placeholder="Enter  Name"/>
	</span><br></div>

	<span>
		<div class="forms">
	<i class="fa fa-lock"></i>
	 <input type="text" class="input" id="id-Email" name="email" placeholder="Enter Email"/>
	</span><br></div>

	<span>
		<div class="forms">
	<i class="fa fa-lock"></i>
	 <input type="text" class="input" id="id-Amount" name="amount" placeholder="Enter Amount"/>
		</span><br></div>

		<span>
			<div class="forms">
	<i class="fa fa-lock"></i>
	 <input type="text" class="input" id="id-Mop" name="mop" placeholder="Enter Mode of Payment "/>
		</span><br></div>




	<center>
	<input type="submit" class="btn" value="Submit"/> </center>
	<!-- <a type = "button" class="btn btn-secondary" id="id_registration" href="{% url 'appdev:donationdashboard_view' %}">CANCEL</a> -->

 </center>
{% endblock content %}
	</form>
	<hr/>
</body>
</html>
