{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>USER DASHBOARD</title>
      <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/css/bootstrap.min.css'%}">
      <!----css3---->
        <link rel="stylesheet" href="{% static 'assets/css/css/custom.css' %}">
    
    
    <!--google fonts -->
  
      <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  
  
  <!--google material icon-->
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">

  </head>
<body>
								<form method="POST">
                                  {% csrf_token %}
                                  <div class="form-group">
                                {% for acct in accty %}
                                <!-- <label for="recipient-name" class="col-form-label">{{grade.username_id}}</label> -->
                                <input name="username" value="{{acct.username}}" type="text" class="form-control" id="gv_code"  hidden>
                                {% endfor %}
                                <label for="recipient-name" class="col-form-label">Subject Code</label>
                                <input name="subject_code" subject.type="text" class="form-control" id="subject_code" >

                                <label for="recipient-name" class="col-form-label">Faculty Name</label>
                                <input type="text" name="faculty_name" class="form-control" id="faculty_name">

                                <label for="recipient-name" class="col-form-label">Units</label>
                                <input type="text" name="units" class="form-control" id="units">

                                <label for="recipient-name" class="col-form-label">Midterm</label>
                                <input type="text" name="midterm" class="form-control" id="midterm">

                                <label for="recipient-name" class="col-form-label">Final</label>
                                <input type="text" name="finals" class="form-control" id="finals">

                                <label for="recipient-name" class="col-form-label">Final Grade</label>
                                <input type="text" name="finalgrade" class="form-control" id="finalgrade">
                                    
                                
                                                    
                                  </div>
                                
                        
                                
                              </div>
                              <div class="modal-footer" center>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Back</button>
                                <button type="submit" id="BtnAddGenVoucher" name="BtnAddGrade" href = "{% url 'appdev:grades_view' %}" class="btn btn-primary">Add</button>
                              </div>

                                </form>

   <script src="{% static 'assets\js\js\jquery-3.3.1.slim.min.js' %}"></script>
   <script src="{% static 'assets\js\js\popper.min.js' %}"></script>
   <script src="{% static 'assets\js\js\bootstrap.min.js' %}"></script>
   <script src="{% static 'assets\js\js\jquery-3.3.1.min.js' %}"></script>
  
  
  <script type="text/javascript">
        
    $(document).ready(function(){
      $(".xp-menubar").on('click',function(){
        $('#sidebar').toggleClass('active');
      $('#content').toggleClass('active');
      });
      
       $(".xp-menubar,.body-overlay").on('click',function(){
         $('#sidebar,.body-overlay').toggleClass('show-nav');
       });
      
    });
    
</script>                
</body>
</html>